{{ $st := .page }}
{{ $page := .page }}
{{ $bg := $page.Params.design.background }}
<div class="outer-content">
  <div class="content">

  </div>
  <div class="subtitle">
    {{with $st.Title}}
    <header>
      <h2>{{.}}</h2>
    </header>
    {{end}}
    {{with $st.Params.subtitle}}
    <p>{{ .|markdownify|emojify }}</p>
    {{end}}
  </div>
    {{/* Call-to-action link */}}
    {{ if $page.Params.cta.url }}
      {{ $pack := or $page.Params.cta.icon_pack "fas" }}
      {{ $pack_prefix := $pack }}
      {{ if in (slice "fab" "fas" "far" "fal") $pack }}
        {{ $pack_prefix = "fa" }}
      {{ end }}
      {{ $link := $page.Params.cta.url }}
      {{ $scheme := (urls.Parse $link).Scheme }}
      {{ $target := "" }}
      {{ if not $scheme }}
        {{ $link = $link | relLangURL }}
      {{ else if in (slice "http" "https") $scheme }}
        {{ $target = "target=\"_blank\" rel=\"noopener\"" }}
      {{ end }}
    <p class="cta-btns">
       <a href="{{ $link | safeURL }}" {{ $target | safeHTMLAttr }} class="btn {{if $bg.text_color_light}}btn-light{{else}}btn-primary{{end}} btn-lg">{{ if $page.Params.cta.icon }}<i class="{{ $pack }} {{ $pack_prefix }}-{{ $page.Params.cta.icon }} pr-1" aria-hidden="true"></i>{{end}}{{ $page.Params.cta.label | markdownify | emojify | safeHTML }}</a>

</div>
<script>
  if (document.body.classList.contains('dark') == true) {
      document.querySelector("#intro > div > div > div").classList.add("dark-logo");
      document.querySelector(".subtitle").classList.add("dark-subtitle");
  }
</script>
{{ end }}
