{{ $st := .page }}
<div class="outer-content">
  <div class="content">

  </div>
  <div class="subtitle">
    {{with $st.Title}}
    <header>
      <h2>{{.}}</h2>
    </header>
    {{end}}
    {{with $st.Params.subtitle}}
    <p>{{ .|markdownify|emojify }}</p>
    {{end}}
  </div>
  <a class="action-button btn btn-primary" href="/about/#contact">
    Schedule a session!
  </a>
</div>
<script>
  if (document.body.classList.contains('dark') == true) {
      document.querySelector("#intro > div > div > div").classList.add("dark-logo");
  }
</script>
