#intro {
  background: url("/images/banner_alt.png"); 
  align-items: center;
  display: flex;
  overflow: hidden;
  background-size: contain;
  background-position: center;
  animation: float 92s infinite;
}

.outer-content {
  padding-left: 3%;
  padding-right: 3%;
}

.content {
  background: transparent url("/images/banner_logo.png") 100% 100% no-repeat;
  background-size: contain;
  background-position: center;
  height: 9em;
}

.cta-btns {
  text-align:center;
}

.dark .content {
  background: transparent url("/images/banner_logo_dark.png") 100% 100% no-repeat;
  background-size: contain;
  background-position: center;
  height: 9em;
}

.subtitle {
  text-align: center;
  margin: 0 28% 0 28%;
}

.subtitle > header > h2 {
  background-color: #fff;
}

.dark .subtitle > header > h2 {
  background-color: #090a0b;
}

.action-button {

  text-align: center;
}

.dark .btn-primary {
  background-color: #ffffff;
  border-color: #666666;
}

.dark .btn-primary:hover {
  background-color: #e8e6e6;
  border-color: #666666;
}

.btn-primary {
  background-color: #666666;
  border-color: #090a0b;
}

.btn-primary:hover {
  background-color: #252a2e;
  border-color: #252a2e;
}

@keyframes float {
  0% {
    background-position: 0em;
  }
  50% {
    background-position: 33em;
  }
  100% {
    background-position: 0%;

  }
}
