// Starter Blog Template
// https://sourcethemes.com/academic/themes/

.home-section {
  padding: 3em 0 3em 0;
}

.home-section.wg-starter-blog-intro {
  align-items: center;
  justify-content: center;
}

.home-section.wg-starter-blog-intro .content {
  text-align: center;
}

.home-section > .content {
  width: 45em;
  max-width: calc(100% - 4em);
  margin: 0 auto;
}

.home-section > .content > :last-child {
  margin-bottom: 0;
}

.home-section header {
  margin-bottom: 1em;
}

.home-section .wg-starter-blog-intro h2 {
  font-size: 2.25em;
  line-height: 1.25em;
  letter-spacing: -0.05em;
}

#intro {
  background: url("/images/banner_alt.png") repeat;
  align-items: center; 
  display: flex; 
  overflow: hidden;
  transform-style: preserve-3d;
  background-size: cover;
  background-position: center;
  animation: float 92s infinite;
}

.outer-content {
  padding-left: 3%;
  padding-right: 3%;
}

.content {
  background: transparent url("/images/banner_logo.png") 100% 100% no-repeat;
  background-size: contain;
  background-position: center;
  height: 9em;
}

.cta-btns {
	text-align:center;
}
.dark-logo {
  background: transparent url("/images/banner_logo_dark.png") 100% 100% no-repeat;
  background-size: contain;
  background-position: center;
  height: 9em;
}


.subtitle {
  text-align: center;
}

.action-button {
  text-align: center;
}

@keyframes float {
	0% {
		background-position: 0%;
	}
	50% {
		background-position: 75%; 
	}
	100% {
		background-position: 0%;
	}
}
