// Starter Blog Template
// https://sourcethemes.com/academic/themes/

.home-section {
  padding: 3em 0 3em 0;
}

.home-section.wg-starter-blog-intro {
  align-items: center;
  justify-content: center;
}

.home-section.wg-starter-blog-intro .content {
  text-align: center;
}

.home-section > .content {
  width: 45em;
  max-width: calc(100% - 4em);
  margin: 0 auto;
}

.home-section > .content > :last-child {
  margin-bottom: 0;
}

.home-section header {
  margin-bottom: 1em;
}

.home-section .wg-starter-blog-intro h2 {
  font-size: 2.25em;
  line-height: 1.25em;
  letter-spacing: -0.05em;
}

#intro {
  background: transparent url("/images/banner.png") 100% 100% no-repeat;
  background-size: cover;
  background-position: center;
  animation: float 12s ease-in-out infinite;
}

.outer-content {
  padding-left: 3%;
  padding-right: 3%;
}

.content {
  background: transparent url("/images/banner_logo.png") 100% 100% no-repeat;
  background-size: contain;
  background-position: center;
  height: 12em;
  animation: inversefloat 12s ease-in-out infinite;
}

.dark-logo {
  background: transparent url("/images/banner_logo_dark.png") 100% 100% no-repeat;
  background-size: contain;
  background-position: center;
  height: 12em;
  animation: inversefloat 12s ease-in-out infinite;
}

.content > p {
  font-family: "Montserrat",sans-serif;
  font-size: 1.1em;
  padding-top: 12em;
  font-weight: bolder;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}

@keyframes inversefloat {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(20px);
  }
  100% {
    transform: translatey(0px);
  }
}
