// Starter Blog Template
// https://sourcethemes.com/academic/themes/

.home-section {
  padding: 3em 0 3em 0;
}

.home-section.wg-starter-blog-intro {
  align-items: center;
  justify-content: center;
}

.home-section.wg-starter-blog-intro .content {
  text-align: center;
}

.home-section > .content {
  width: 45em;
  max-width: calc(100% - 4em);
  margin: 0 auto;
}

.home-section > .content > :last-child {
  margin-bottom: 0;
}

.home-section header {
  margin-bottom: 0em;
}

.home-section .wg-starter-blog-intro h2 {
  font-size: 2.25em;
  line-height: 1.25em;
  letter-spacing: -0.05em;
}

#intro {
  background: transparent url("/images/banner_alt.png") 100% 100% no-repeat;
  background-size: cover;
  background-position: center;
  animation: float 12s ease-in-out infinite;
  height:15em;
}

.outer-content {
  padding-left: 3%;
  padding-right: 3%;
}

.content {
  background: transparent url("/images/banner_logo.png") no-repeat;
  background-size: 90%;
  background-position: top;
  animation: inversefloat 12s ease-in-out infinite;
}

.dark-logo {
  background: transparent url("/images/banner_logo_dark.png") 100% 100% no-repeat;
  background-size: 76%;
  background-position: center;
  animation: inversefloat 12s ease-in-out infinite;
}

.content > p {
  font-size: 1.1em;
  font-family: "Montserrat",sans-serif;

}

.content > header {
  padding-top: 15%;
}
@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}

@keyframes inversefloat {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(20px);
  }
  100% {
    transform: translatey(0px);
  }
}
